.solution {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  
    background-color: #f4f8fb;
  
    .content-text {
      display: flex;
      flex-direction: row;
      width: 100%;

      gap: 4rem;
  
      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      h1 {
        font-weight: 600;
        color: #4B5564;
        font-size: 2rem;
    }
    p {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #6A7B98;
      }
    button {
        display: flex;
        align-items: center;
        border-radius: 15px;
        font-size: 14px;
        border: none;
        color: white;
        font-weight: 500;
        padding: 13px 20px;
        background-color: #6c63ff;
  
        &:hover {
          background-color: #5b55e6;
        }
      }
    }
  
    .content-img {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end; 
      align-items: center;
  
      img {
        width: 100%; 
        height: auto; 
        object-fit: contain; 
      }
    }
  }
